body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px;
    background-color:violet
/*
    background-image: url(https://pm1.narvii.com/6878/43401b721bf9ea2f83a8274dd1b1922281112075r1-531-469v2_hq.jpg);

*/

}

input[type=radio]{
    display:none;
}

input:checked + img {
    border: solid tomato 2px;
    background-color: peachpuff;
    border-radius: 25%;
} 

div {
    display: flex;
}
