body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px;
    background-color: brown;
    background-image: url(https://cdn2.bulbagarden.net/upload/d/d0/Stark_Mountain_Exterior_Pt.png);
    background-size: cover;
}

h1 {
    box-shadow: 1px 1px 4px white;
    background-color: rgba(89, 106, 255, 0.301);
    color: goldenrod;
    font-family: 'Mina', serif;

}

h3 {
    box-shadow: 1px 1px 4px white;
    background-color: rgba(89, 106, 255, 0.301);
    color: goldenrod;
    font-family: 'Mina', serif;
    margin: 2%, 2%;
}

input[type=radio]{
    display:none;
}

input[type=radio]:checked + img {
    border: solid tomato 2px;
    background-color: rgba(89, 106, 255, 0.301);
    border-radius: 25%;
} 

div {
    display: flex;
}

#pokemonBanner {
    height: 100px;
}

img {
    height: 250px;
}

button {
    box-shadow: 1px 1px 4px white;
    background-color: rgba(89, 106, 255, 0.301);
    color: goldenrod;
    font-size: 20px;
    font-weight: bolder;
    size: 20px;
    font-family: 'Mina', serif;
}

a {
    box-shadow: 1px 1px 4px white;
    background-color: rgba(89, 106, 255, 0.301);
    color: goldenrod;
    font-size: 20px;
    font-weight: bold;
    size: 20px;
    font-family: 'Mina', serif;
}

a:visited {
    color: dodgerblue;
}

button:hover {
    color: dodgerblue;
}
